*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: pink !important;
}

.ima{
    width: 50px;
    border-radius: 50%;
}

.imagen{
    position: relative;
}

.card-body{
    width: 100%;
    position: absolute;
    background-image: linear-gradient(transparent, black);
    color: white;
    text-align: left;
    bottom: 0;
}
